<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" name="email" required></ion-input>
  </ion-item>
  
  <ion-button type="submit" expand="block">Recuperar contraseña</ion-button>
  <ion-note>
    Si no estás registrado, crea una cuenta en <a href="/register"> Registrarme</a>. <br>
  </ion-note>
  <ion-note>
    También puedes iniciar sesión en <a href="/login">Iniciar Sesión</a>.
  </ion-note>
</form>
</ion-content>