<ion-header [translucent]="true" class="profile-header">
  <ion-toolbar>
    <ion-title class="profile-header-title">Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-container">
<form [formGroup]="recoveryForm" class="profile-name-container">
  <ion-item class="profile-name-input">
    <ion-icon slot="start" name="mail-outline"></ion-icon>
    <ion-input type="email" placeholder="Correo Electrónico" formControlName="email"></ion-input>
    <div class="error-message" *ngIf="recoveryForm.get('email')?.invalid && recoveryForm.get('email')?.touched">
      Ingresa un correo válido
    </div>
  </ion-item>
  <ion-button type="submit" expand="block" color="primary" routerLink="/login" [disabled]="recoveryForm.invalid">Recuperar contraseña</ion-button>
  <ion-note>
    Si no estás registrado, crea una cuenta en <a href="/register"> Registrarme</a>. <br>
  </ion-note>
  <ion-note>
    También puedes iniciar sesión en <a href="/login">Iniciar Sesión</a>.
  </ion-note>
</form>
</ion-content>