<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Pedir contraseña actual-->
  <ion-item>
    <ion-label position="stacked">Contraseña Actual</ion-label>
    <ion-input type="password" name="actualPassword" required></ion-input>
  </ion-item>

  <!--Pedir nueva contraseña-->
  <ion-item>
    <ion-label position="stacked">Nueva Contraseña</ion-label>
    <ion-input type="password" name="newPassword" required></ion-input>
  </ion-item>

  <!--Repetir nueva contraseña-->
  <ion-item>
    <ion-label position="stacked">Repetir Nueva Contraseña</ion-label>
    <ion-input type="password" name="confirmNewPassword" required></ion-input>
  </ion-item>

  <!--Botón para cambiar contraseña-->
  <ion-button type="submit" expand="block">Cambiar Contraseña</ion-button>
  <ion-note>
      Si no deseas cambiar tu contraseña, haz click en <a href="/profile">Atrás</a>.
  </ion-note>
  
</ion-content> 
