<ion-header [translucent]="true" class="profile-header">
  <ion-toolbar>
    <ion-title class="profile-header-title">Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-container">

  <form [formGroup]="changePasswordForm" (ngSubmit)="onChange()" class="profile-name-container">

    <!--Pedir contraseña actual-->
    <ion-item class="profile-name-input">
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input type="password" placeholder="Contraseña Actual" formControlName="actualPassword"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="changePasswordForm.get('actualPassword')?.invalid && changePasswordForm.get('actualPassword')?.touched">
      Ingresa tu contraseña actual
    </div>

    <!--Pedir nueva contraseña-->
    <ion-item class="profile-name-input">
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input type="password" placeholder="Nueva Contraseña" formControlName="newPassword"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched">
      Ingresa la Nueva Contraseña
    </div>

    <!--Repetir nueva contraseña-->
    <ion-item class="profile-name-input">
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input type="password" placeholder="Repetir Nueva Contraseña" formControlName="confirmNewPassword"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="changePasswordForm.get('confirmNewPassword')?.invalid && changePasswordForm.get('confirmNewPassword')?.touched">
    Ingresa la Repetición de la Nueva Contraseña
    </div>

    <!--Botón para cambiar contraseña-->
    <ion-button type="submit" expand="block" color="primary" routerLink="/login" [disabled]="changePasswordForm.invalid">Cambiar Contraseña</ion-button>

    <ion-note class="profile-name-input">
        Si no deseas cambiar tu contraseña, haz click <a href="/profile"> Aquí</a>.
    </ion-note>
  </form>
  
</ion-content> 
