<ion-header [translucent]="true" class="profile-header">
  <ion-toolbar>
    <ion-title class="profile-header-title">Perfil</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content class="profile-container">

  <!-- Contenedor de la imagen de perfil -->
  <div class="profile-picture">
    <img *ngIf="userImage; else placeholder" [src]="userImage" alt="Foto de perfil" />
    <ng-template #placeholder>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ng-template>

    <!-- Ícono para cambiar foto -->
    <div class="camera-icon" (click)="changeProfilePic()">
      <ion-icon name="camera-outline" size="small"></ion-icon>
    </div>
  </div>

  <!-- Formulario de edición de nombre -->
   <div class="profile-name-container">
  <div class="profile-name-input">
    <ion-icon name="person-outline"></ion-icon>
    <ion-input placeholder="Nombre" [(ngModel)]="user.name"></ion-input>
  </div>
  <div class="profile-name-input">
    <ion-icon name="person-outline"></ion-icon>
    <ion-input placeholder="Apellido" [(ngModel)]="user.lastName"></ion-input>
  </div>
  </div>
  <!-- Botones de acciones -->
  <div class="profile-buttons">
    <button class="profile-button" routerLink="/change-password">
      Cambiar Contraseña
    </button>
    <button class="profile-button" routerLink="/my-reports">
      Mis Reportes
    </button>
    <button class="profile-button" routerLink="/report">
      Reportar Mascota
    </button>
    <button class="profile-button" color="danger" (click)="logout()">
      Cerrar Sesión
      <ion-icon name="log-out-outline"></ion-icon>
    </button>
  </div>
</ion-content>
