<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

 <!-- Foto de perfil de usuario, puede escojer imagen desde la galería o sacar una foto con el telefono-->
  <div class="profile-image-container">
    <img *ngIf="userImage; else placeholder" [src]="userImage" alt="Foto de perfil" />
    <ng-template #placeholder>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ng-template>
  </div>

  <!-- Botón para tomar una foto -->
  <ion-button expand="block" color="primary" (click)="changeProfilePic()">
    Cambiar Foto
  </ion-button>
  
<form>
  <!-- Editar nombre y apellido -->
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="user.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input [(ngModel)]="user.lastName"></ion-input>
    </ion-item>
</form>
  <!-- Botón para cambiar de page y cambiar contraseña -->

    <ion-button routerLink="/change-password" expand="block">
      <ion-label>Cambiar Contraseña</ion-label>
    </ion-button>

  <!-- Botón para ir a my-reports-->

    <ion-button routerLink="/my-reports" expand="block">
      <ion-label>Mis Reportes</ion-label>
    </ion-button>

  <!-- Botón para ir a report-->

    <ion-button routerLink="/report" expand="block">
      <ion-label>Reportar Mascota</ion-label>
    </ion-button>

  <!-- Botón para cerrar sesión-->
  <ion-button expand="block" color="danger" (click)="logout()">
    <ion-label>Cerrar Sesión</ion-label>
    <ion-icon name="log-out-outline" slot="end"></ion-icon>
  </ion-button>

   <footer></footer>
  </ion-content>


