<ion-header [translucent]="true" class="profile-header">
  <ion-toolbar>
    <ion-title class="profile-header-title">Reportar Mascota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-container">
  <form [formGroup]="reportForm" (ngSubmit)="onReport()" class="profile-name-container">

    <!-- Nombre -->
    <ion-item class="profile-name-input">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="reportForm.get('name')?.invalid && reportForm.get('name')?.touched">
      Ingresa un nombre válido
    </div>

    <!-- Ubicación -->
    <ion-item class="profile-name-input">
      <ion-label position="floating">Ubicación</ion-label>
      <ion-input type="text" formControlName="ubicacion"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="reportForm.get('ubicacion')?.invalid && reportForm.get('ubicacion')?.touched">
      Ingresa una ubicación válida
    </div>

    <!-- Número de Teléfono -->
    <ion-item class="profile-name-input">
      <ion-label position="floating">Número de Teléfono</ion-label>
      <ion-input type="tel" formControlName="phone"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="reportForm.get('phone')?.invalid && reportForm.get('phone')?.touched">
      Ingresa un número de teléfono válido
    </div>

    <!-- Fecha -->
    <ion-item class="profile-name-input">
      <ion-label>Fecha</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <!-- Tipo de Mascota -->
    <ion-item class="profile-name-input">
      <ion-label>Tipo de Mascota</ion-label>
      <ion-radio-group formControlName="animal">
        <ion-item>
          <ion-label>Perro</ion-label>
          <ion-radio slot="start" value="perro"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Gato</ion-label>
          <ion-radio slot="start" value="gato"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item>

    <!-- Sexo -->
    <ion-item class="profile-name-input">
      <ion-label>Sexo</ion-label>
      <ion-radio-group formControlName="sexo">
        <ion-item>
          <ion-label>Macho</ion-label>
          <ion-radio slot="start" value="macho"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Hembra</ion-label>
          <ion-radio slot="start" value="hembra"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item>

    <!-- Raza -->
    <ion-item class="profile-name-input">
      <ion-label position="floating">Raza</ion-label>
      <ion-input type="text" formControlName="raza"></ion-input>
    </ion-item>

    <!-- Edad -->
    <ion-item class="profile-name-input">
      <ion-label position="floating">Edad</ion-label>
      <ion-input type="number" formControlName="edad"></ion-input>
    </ion-item>

    <!-- Descripción -->
    <ion-item class="profile-name-input">
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>

    <!-- Recompensa -->
    <ion-item class="profile-name-input">
      <ion-label position="floating">Recompensa</ion-label>
      <ion-input type="number" formControlName="reward"></ion-input>
    </ion-item>

    <!-- Foto -->
    <ion-item class="profile-name-input">
      <ion-label position="fixed">Foto</ion-label>
      <ion-button expand="block" (click)="takePhoto()">Tomar Foto</ion-button>
      <ion-button expand="block" (click)="choosePhoto()">Seleccionar de Galería</ion-button>
    </ion-item>

    <ion-item *ngIf="photoBase64">
      <ion-label position="fixed">Vista previa:</ion-label>
      <img [src]="photoBase64" alt="Vista previa de la imagen" class="preview-img">
    </ion-item>
    
    <!-- Botón de Enviar -->
    <ion-button type="submit" expand="block" [disabled]="reportForm.invalid">Enviar</ion-button>

    <!-- Enlace para regresar -->
    <ion-note>
      Si no deseas reportar una mascota, haz click en <a href="/profile">Atrás</a>.
    </ion-note>
  </form>
</ion-content>
