<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>PAWFOUND!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Cards con información de mascotas reportadas y perdidas-->
  <ion-grid>
    <!-- Cards de mascotas reportadas -->
    <ion-row>
      <ion-col size-md="6">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Mascota Reportada</ion-card-title>
            <ion-card-subtitle>
              Reportado por:<br>
              <ion-text color="primary">Juan Perez</ion-text><br>
              <ion-text color="danger">02 ene 2024</ion-text>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>descripcion</p>
            <ion-text>Anda este perrito cerca de estacion central.</ion-text>
            <ion-button expand="block" color="primary" >Ver Detalles</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
