// Estilo del encabezado
.profile-header-container {
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 15px; /* Bordes redondeados */
  padding: 8px 16px; /* Espaciado interno */
  max-width: fit-content; /* Ajusta el tamaño al contenido */
  margin: 0 auto; /* Centrar horizontalmente */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para un efecto visual */
}

.profile-header-title {
  color: #003d31; /* Cambiar el color del texto para que combine */
  font-size: 18px; /* Ajustar el tamaño del texto si es necesario */
  font-weight: bold; /* Asegurar que sea negrita */
  text-align: center; /* Centrar el texto */
}

// Estilo imagen de mascota reportada

.pet-report-image {
  width: 100%; /* Ajustar el tamaño de la imagen al ancho del contenido */
  height: auto; /* Ajustar el tamaño de la imagen al alto del contenido */
}