<ion-header class="profile-header">
  <ion-toolbar>
    <div class="profile-header-container">
      <ion-title class="profile-header-title">Iniciar Sesión</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="login-page">
  <!-- Logo -->
   <div class="logo-container">
    <img src="assets/Logo/logo.png" alt="">
   </div>

   <!-- Formulario de Login -->
   <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="profile-name-container">
    <!-- Campo de Correo -->
    <ion-item  class="profile-name-input">
      <ion-label position="floating">Correo Electronico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched ">
      Ingresa un correo válido
    </div>

    <!-- Campo de Contraseña -->
    <ion-item  class="profile-name-input">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched ">
      La contraseña es obligatoria
    </div>

    <!-- Botón de Iniciar Sesión -->
     <ion-button expand="block" color="primary" [disabled]="loginForm.invalid" routerLink="/profile">Iniciar Sesión</ion-button>
   </form>

   <!-- Enlaces de Registro y Recuperar Contraseña -->
  <div class="links-container">
    <ion-text color="medium">
      <p>
        ¿No tienes una cuenta? <a (click)="goToRegister()">Registrate</a>
      </p>
    </ion-text>
    <ion-text color="medium">
      <p>
        Olvidaste tu contraseña? <a (click)="goToRecoverPassword()">Recupera tu contraseña</a>
      </p>
    </ion-text>
  </div>
</ion-content>