<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>



<header>
  
</header>

<footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="profile">
        <ion-icon name="person"></ion-icon>
        Perfil
      </ion-tab-button>
      <ion-tab-button tab="pawfound">
        <ion-icon name="paw"></ion-icon>
        PawFound
      </ion-tab-button>
      <ion-tab-button tab="my-report">
        <ion-icon name="warning"></ion-icon>
        Reportes
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</footer>
