<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>


<footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="reportpet" routerLink="/reportpet">
        <ion-icon name="person"></ion-icon>
        Busco
      </ion-tab-button>
      <ion-tab-button tab="pawfound" routerLink="/paw-found">
        <ion-icon name="paw"></ion-icon>
        PawFound
      </ion-tab-button>
      <ion-tab-button tab="report" routerLink="/report">
        <ion-icon name="warning"></ion-icon>
        Encontré
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</footer>
