<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content>
  <form>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="nombre" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type="tel" name="telefono" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="password" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Confirmar contraseña</ion-label>
      <ion-input type="password" name="confirmarPassword" required></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block">Registrarse</ion-button>

    <ion-button expand="block" routerLink="/login">Iniciar sesión</ion-button>
  </form>
</ion-content> -->

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

    <!-- Campo de Nombre -->
      <ion-item class="input-item" lines="none">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="name" formControlName="name"></ion-input>
       <div class="error-message" *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched ">
        Ingresa un nombre válido
      </div>
    </ion-item>

    <!-- Campo de Teléfono -->
      <ion-item class="input-item" lines="none">
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type="phone" formControlName="phone"></ion-input>
      <div class="error-message" *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched ">
        Ingresa un número de teléfono válido
      </div>
    </ion-item>

    <!-- Campo de Correo -->
    <ion-item class="input-item" lines="none">
      <ion-label position="floating">Correo Electronico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched ">
      Ingresa un correo válido
    </div>

    <!-- Campo de Contraseña -->
    <ion-item class="input-item" lines="none">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched ">
      Ingresa una contraseña válida
    </div>

  </form>

    
  <!-- Botón de Registro -->
    <ion-button type="submit" expand="block" [disabled]="registerForm.invalid">
      Registrarse
    </ion-button>
</ion-content>