<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <h1>Crea una Cuenta</h1>
    <p>Completa los campos para registrarte.</p>

    <form (ngSubmit)="onRegister()" [formGroup]="registerForm">
      <!-- Campo Nombre -->
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input
          type="text"
          formControlName="name"
          placeholder="Ingresa tu nombre"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
        El nombre es obligatorio y debe ser válido.
      </ion-text>

      <!-- Campo Teléfono -->
      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input
          type="text"
          formControlName="phone"
          placeholder="Ingresa tu teléfono"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched">
        Ingresa un teléfono válido de 9 dígitos.
      </ion-text>

      <!-- Campo Correo Electrónico -->
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input
          type="email"
          formControlName="email"
          placeholder="Ingresa tu correo"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        Ingresa un correo válido.
      </ion-text>

      <!-- Campo Contraseña -->
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          type="password"
          formControlName="password"
          placeholder="Crea una contraseña"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        La contraseña debe tener al menos 6 caracteres.
      </ion-text>

      <!-- Botón de Registro -->
      <ion-button expand="block" type="submit" [disabled]="registerForm.invalid">
        Registrarse
      </ion-button>
    </form>

    <!-- Botón para ir a Login -->
    <ion-button fill="clear" routerLink="/login" expand="block">
      Ya tengo cuenta
    </ion-button>

    <!-- Mensaje de éxito -->
    <ion-text *ngIf="successMessage" color="success">
      ¡Registro exitoso! Redirigiendo a Login...
    </ion-text>
  </div>
</ion-content>
