<ion-header class="profile-header">
  <ion-toolbar>
    <ion-title class="profile-header-title">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-container">


  <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="profile-name-container">
    <!-- Nombre -->
    <ion-item class="profile-name-input">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-input type="text" placeholder="Nombre" formControlName="name"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
      Ingresa un nombre válido
    </div>

    <!-- Teléfono -->
    <ion-item class="profile-name-input">
      <ion-icon slot="start" name="call-outline"></ion-icon>
      <ion-input type="tel" placeholder="Teléfono" formControlName="phone"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched">
      Ingresa un número de teléfono válido
    </div>

    <!-- Correo Electrónico -->
    <ion-item class="profile-name-input">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-input type="email" placeholder="Correo Electrónico" formControlName="email"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
      Ingresa un correo válido
    </div>

    <!-- Contraseña -->
    <ion-item class="profile-name-input">
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
      Ingresa una contraseña válida
    </div>

    <!-- Botón de Registro -->
    <ion-button expand="block" color="primary" [disabled]="registerForm.invalid" routerLink="/login">
      Registrarse
    </ion-button>
  </form>

  <ion-note class="profile-note">
    Si ya tienes una cuenta, haz click en <a href="/login">Iniciar Sesión</a>.
  </ion-note>
</ion-content>
